* {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
  color:white;
}

/* remove scrollbar */
html {
  overflow: hidden;
}

.center-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.center-x {
  position: absolute;
  width:100%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.left-x {
  position: absolute;
  left: 30px;
}

.bottom-y {
  bottom: 80px; 
}

.rh {
  width:50%;
  right: 0px;
}

.wh {
  width: 25%;
  right: 25%;
}

.center-y p {
  padding-right: 20px;
}

h1 {
  font-size: 80px;
  color:white;
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
  color:white;
  text-transform: uppercase;
  margin-bottom: 15px;
  /* font-style: italic; */
}

.start-button {
  padding: 7px 15px;
  border: 2px solid white;
  text-decoration: none;
  border-radius: 2px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  top:30px;
  transition-duration: 0.2s;
}
.start-button:hover {
  top: 26px;

  transition-duration: 0.2s;
}

.project-button {
  display: inline-block;
  width: 100px;
  padding:30px;
  border: 2px solid white;
  text-decoration: none;
  border-radius: 2px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin-left:10px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
  transition-duration: 0.2s;
  text-align: center;
}
.project-button:hover {
  transition-duration: 0.2s;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.subtitle {
  display:none;
  color:yellow;
  font-size: 30px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.subtitle:first-child {
  display:block;
}

.subtitle-wrapper{
  position: absolute;
  right: 10px;
  bottom: 20px;
}

.subtitle-wrapper a {
  position: static;
  margin: 0;
}