* {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
}

/* remove scrollbar */
html {
  overflow: hidden;
}

.center-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.rh {
  width:50%;
  right: 0px;
}

.wh {
  width: 25%;
  right: 25%;
}

.center-y p {
  padding-right: 20px;
  color:white;
}

h1 {
  font-size: 80px;
  color:white;
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
  color:white;
  text-transform: uppercase;
  margin-bottom: 15px;
  /* font-style: italic; */
}

.start-button {
  padding: 7px 15px;
  border: 2px solid white;
  text-decoration: none;
  border-radius: 2px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  top:30px;
  transition-duration: 0.2s;
}
.start-button:hover {
  top: 26px;

  transition-duration: 0.2s;
}

.project-button {
  display: inline-block;
  width: 100px;
  padding:30px;
  border: 2px solid white;
  text-decoration: none;
  border-radius: 2px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  vertical-align: middle;
  margin-left:10px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
  transition-duration: 0.2s;
}
.project-button:hover {
  transition-duration: 0.2s;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}